@media (max-width: 991.98px) {
  .expLoop {
    overflow: auto;
  }
  .jobDesc {
    width: 76%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

@media (max-width: 768px) {
  .expLoop {
    margin: 0;
    height: 180px;
    width: 100%;
    padding: 0;
    position: relative;
    border-radius: 5px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
  }
  .imgJob {
    display: none;
  }
  .jobDesc {
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .title {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    margin-bottom: 50px;
  }
}
@media (max-width: 576px) {
  .imgJob {
    display: none;
  }
  .expLoop {
    margin: 0;
    height: 180px;
    width: 100%;
    padding: 0;
    position: relative;
    border-radius: 5px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
  }
  .jobDesc {
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .title {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    margin-bottom: 50px;
  }
}
